@model IEnumerable<StoreTrainee.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVm>

@{
    ViewBag.Title = "Orders";
}
<br />
<h2>Список заказов</h2>

@if (!Model.Any())
{
    <h2>Товары отсутствуют!</h2>
}
else
{


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
               Детали заказа
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (var item2 in item.ProductAndQuantity)
                {
                    @item2.Key @:x @item2.Value<br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            
        </tr>
        }


    </table>
}
